
bin/Debug/app.publish/Application Files/Mei's YouTube Downloader_1_0_0_2/ffmpeg.exe.deploy
bin/Debug/app.publish/Application Files/Mei's YouTube Downloader_1_0_0_2/ffplay.exe.deploy
bin/Debug/app.publish/Application Files/Mei's YouTube Downloader_1_0_0_2/ffprobe.exe.deploy
bin/Debug/app.publish/Application Files/Mei's YouTube Downloader_1_0_0_2/Meduza_Logo_1080_NoBKG.ico.deploy
bin/Debug/app.publish/Application Files/Mei's YouTube Downloader_1_0_0_2/Mei's YouTube Downloader.exe.config.deploy
bin/Debug/app.publish/Application Files/Mei's YouTube Downloader_1_0_0_2/Mei's YouTube Downloader.exe.deploy
bin/Debug/app.publish/Application Files/Mei's YouTube Downloader_1_0_0_2/Mei's YouTube Downloader.exe.manifest
bin/Debug/app.publish/Application Files/Mei's YouTube Downloader_1_0_0_2/yt-dlp.exe.deploy
bin/Debug/app.publish/Mei's YouTube Downloader.application
bin/Debug/app.publish/Mei's YouTube Downloader.exe
bin/Debug/app.publish/setup.exe
bin/Debug/ffmpeg.exe
bin/Debug/ffplay.exe
bin/Debug/ffprobe.exe
bin/Debug/Mei's YouTube Downloader.application
bin/Debug/Mei's YouTube Downloader.exe
bin/Debug/Mei's YouTube Downloader.exe.config
bin/Debug/Mei's YouTube Downloader.exe.manifest
bin/Debug/Mei's YouTube Downloader.pdb
bin/Debug/Mei's YouTube Downloader.xml
bin/Debug/settings.txt
bin/Debug/yt-dlp.exe
obj/Debug/.NETFramework,Version=v4.5.AssemblyAttributes.vb
obj/Debug/DesignTimeResolveAssemblyReferences.cache
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/Mei's YouTube Downloader.application
obj/Debug/Mei's YouTube Downloader.exe
obj/Debug/Mei's YouTube Downloader.exe.manifest
obj/Debug/Mei's YouTube Downloader.pdb
obj/Debug/Mei's YouTube Downloader.xml
obj/Debug/MeisYouTubeDownloader.vbproj.AssemblyReference.cache
obj/Debug/MeisYouTubeDownloader.vbproj.CoreCompileInputs.cache
obj/Debug/MeisYouTubeDownloader.vbproj.FileListAbsolute.txt
obj/Debug/MeisYouTubeDownloader.vbproj.GenerateResource.cache
obj/Debug/MYD.DebugToolbox.resources
obj/Debug/MYD.MainWindow.resources
obj/Debug/MYD.Resources.resources
obj/Debug/MYD.TitleSorter.resources
obj/Debug/YouTubeDownloader.DebugToolbox.resources
obj/Debug/YouTubeDownloader.MainWindow.resources
obj/Debug/YouTubeDownloader.Resources.resources
obj/Debug/YouTubeDownloader.TitleSorter.resources
obj/Debug/YouTubeDownloader.vbproj.AssemblyReference.cache
obj/Debug/YouTubeDownloader.vbproj.CoreCompileInputs.cache
obj/Debug/YouTubeDownloader.vbproj.FileListAbsolute.txt
obj/Debug/YouTubeDownloader.vbproj.GenerateResource.cache
publish/Application Files/Mei's YouTube Downloader_1_0_0_1/ffmpeg.exe.deploy
publish/Application Files/Mei's YouTube Downloader_1_0_0_1/ffplay.exe.deploy
publish/Application Files/Mei's YouTube Downloader_1_0_0_1/ffprobe.exe.deploy
publish/Application Files/Mei's YouTube Downloader_1_0_0_1/Meduza_Logo_1080_NoBKG.ico.deploy
publish/Application Files/Mei's YouTube Downloader_1_0_0_1/Mei's YouTube Downloader.application
publish/Application Files/Mei's YouTube Downloader_1_0_0_1/Mei's YouTube Downloader.exe.config.deploy
publish/Application Files/Mei's YouTube Downloader_1_0_0_1/Mei's YouTube Downloader.exe.deploy
publish/Application Files/Mei's YouTube Downloader_1_0_0_1/Mei's YouTube Downloader.exe.manifest
publish/Application Files/Mei's YouTube Downloader_1_0_0_1/yt-dlp.exe.deploy
publish/Application Files/Mei's YouTube Downloader_1_0_0_2/ffmpeg.exe.deploy
publish/Application Files/Mei's YouTube Downloader_1_0_0_2/ffplay.exe.deploy
publish/Application Files/Mei's YouTube Downloader_1_0_0_2/ffprobe.exe.deploy
publish/Application Files/Mei's YouTube Downloader_1_0_0_2/Meduza_Logo_1080_NoBKG.ico.deploy
publish/Application Files/Mei's YouTube Downloader_1_0_0_2/Mei's YouTube Downloader.application
publish/Application Files/Mei's YouTube Downloader_1_0_0_2/Mei's YouTube Downloader.exe.config.deploy
publish/Application Files/Mei's YouTube Downloader_1_0_0_2/Mei's YouTube Downloader.exe.deploy
publish/Application Files/Mei's YouTube Downloader_1_0_0_2/Mei's YouTube Downloader.exe.manifest
publish/Application Files/Mei's YouTube Downloader_1_0_0_2/yt-dlp.exe.deploy
publish/Application Files/YouTubeDownloader_1_0_0_0/ffmpeg.exe.deploy
publish/Application Files/YouTubeDownloader_1_0_0_0/ffplay.exe.deploy
publish/Application Files/YouTubeDownloader_1_0_0_0/ffprobe.exe.deploy
publish/Application Files/YouTubeDownloader_1_0_0_0/YouTubeDownloader.application
publish/Application Files/YouTubeDownloader_1_0_0_0/YouTubeDownloader.exe.config.deploy
publish/Application Files/YouTubeDownloader_1_0_0_0/YouTubeDownloader.exe.deploy
publish/Application Files/YouTubeDownloader_1_0_0_0/YouTubeDownloader.exe.manifest
publish/Application Files/YouTubeDownloader_1_0_0_0/yt-dlp.exe.deploy
publish/Mei's YouTube Downloader.application
publish/setup.exe
publish/YouTubeDownloader.application
